@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'RobotoSlab-Light';
    src: url('RobotoSlab-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
